---
import ExperienceItem from "../components/ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "2016 - Actualidad",
    title: "Desarrollador Web Autónomo",
    company: "Frlawer",
    link: "http://linkedin.com/in/frandir",
    description:
      "Me dedico al desarrollo web desde 2016 de manera freelance, iniciando con proyectos personales y luego con clientes de la provincia de Catamarca y Neuquén. Actualmente me encuentro trabajando en proyectos de manera remota para clientes de Argentina y el exterior. Me especializo en el desarrollo de aplicaciones web con HTML, CSS, Javascript, TailwindCSS, ReactJS, Git, entre otras tecnologías para el Frontend; y con Php, Laravel, Mysql, NodeJS, Next.js, para el Backend.",
    img: "/Logo Frlawer.webp",
  },
  {
    date: "Agosto 2023",
    title: "Desarrollo ReactJS, Laravel, TailwindCSS",
    company: "Unco Activa",
    link: "https://github.com/Unco-Activa/Unco-Activa",
    description:
      "Proyecto de desarrollo de aplicacion web de la carrera de la Universidad del Comahue. desarrollada con ReactJS para el frontend, creación de componentes para registro de los participantes con pago a través de boton de Mercado Pago, HTML, CSS, TailwindCSS, Material UI, Git, entre otras tecnologías.",
    img: "/uncoactiva.webp",
  },
  {
    date: "2020",
    title:
      "Desarrollo Fullstack | PHP plano, HTML, CSS, Javascript (Jquery), Mysql",
    company: "Mi guía Catamarca",
    link: "https://github.com/Frlawer/miguiacatamarca/tree/master",
    description:
      "Desarrollo de sitio web para el registro de empresas locales con selección de ubicación y muestra en Google maps mediante geolocalización o coordenadas, incorporación de imágenes, resaltado de destacados, banners de publicaciones destacadas tipo publicidad, comentarios de visitantes a diferentes empresas.",
    img: "/miguiacatamarca.webp",
  },
];
---

<h3 class="text-5xl font-bold mb-12">
  Mi <br /><span
    class="bg-gradient-to-r from-violet-600 to-orange-400 bg-clip-text text-transparent"
    >Experiencia</span
  >.
</h3>

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-8">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
